name: Deploy manual

on:
  workflow_dispatch:
    inputs:
      tbranch:
        description: Digite a branch a ser deployada em Homologação
        default: homolog
        required: true

jobs:
  run-deploy:
     runs-on: ubuntu-latest 
     steps:
      - name: Dispatch action and pass 
        run: | 
          curl POST -H "Authorization: token $GITHUB_TOKEN" \
          -H "Accept: application/vnd.github.ant-man-preview+json" \
          -H "Content-Type: application/json" \
          https://api.github.com/repos/${{ github.repository }}/deployments \
          --data '{"ref": "homolog", "environment": "homolog"}'

