name: Deploy manual

on:
  workflow_dispatch:
    inputs:
      tbranch:
        description: Digite a branch a ser deployada em Homologação
        default: homolog
        required: true

jobs:
  run-deploy:
     runs-on: ubuntu-latest 
     steps:
      - name: Dispatch action and pass 
        run: |
        curl --location --request POST 'https://api.github.com/repos/${{ github.repository }}/dispatches' \
        --header 'Authorization: Bearer  ${{ secrets.GITHUB_TOKEN }}' \
        --header 'Content-Type: application/json' \
        --data-raw '{
            "event_type": "hml-deploy",
            "client_payload": {
                "branch": "homolog"
            }
        }'
      - name: Repo
        run: echo Repo ${{ github.repository }}

      - name: URL
        run: echo URL https://api.github.com/repos/${{ github.repository }}/dispatches 