name: Deploy manual

on:
  workflow_dispatch:
    inputs:
      tbranch:
        description: Digite a branch a ser deployada em Homologação
        default: homolog
        required: true

jobs:
  run-deploy:
     runs-on: ubuntu-latest 
     steps:
      - name: Dispatch action and pass 
        run: | 
          pwd
          ls -la
          
      - name: Repo
        run: echo Repo ${{ github.repository }}
        
      - name: Repo
        run: echo Repo ${{ github.repository }}
