name: HML - Deploy

on:   
  repository_dispatch:
    types: [hml-deploy]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Teste payload
        run: echo Payloadddd2 ${{ github.event.client_payload.branch }}
        